*{
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    }


#games {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: bolder;
	margin-top: 5rem;
	width: 50%;
}


#games h3 {
	font-weight: bolder;
	font-size: 3rem;
	color: #4efbed;
	text-shadow:
	-1px -1px 0 grey,
	 1px -1px 0 grey,
	-1px  1px 0 grey,
	 1px  1px 0 grey;
}

#game_list_box {
	display: flex;
    flex-direction: column;
    justify-content: space-around;
	align-items: center;
    border: 1px black solid;
    height: 100%;
    width: 100%;
	border: 1px solid grey;
	background-color: rgba(255,255,255, .3)

}

#game_list_box div{
    border-bottom: 1px solid grey;
    height: fit-content;
	background: transparent;
}

.games_links
{
	/* -webkit-text-stroke-width: 1px; */
	/* -webkit-text-stroke-color: #4efbed; */
	color: #4efbed;
	text-shadow:
	-1px -1px 0 black,
		1px -1px 0 black,
	-1px  1px 0 black,
		1px  1px 0 black;
	font-size: 2rem;
	padding: .3rem;
	width: fit-content;
	text-decoration: none;
	/* color: white; */
	font-weight: bolder;
	border-radius: 15px;
}

.games_links:hover {
	background-color: gray;
}


@media (max-height: 460px) {
	.main_body {
		overflow-y: scroll;
	}
	::-webkit-scrollbar {
		width: .7rem;
	}

	::-webkit-scrollbar-track {
		background-color: rgba(0,0,0,0,0);
		width: .5rem;
	}

	::-webkit-scrollbar-thumb {
		background-color: grey;
		border-radius: 6px;
	}
}