*{
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    }

.wx-search label{
	color: white;
	font-weight: bolder;
}

.city_state_search{
	width: fit-content;
}

#submit-btn:hover{
	background-color: darkgray;
}

.openBtn {
    display: flex;
    justify-content: left;
	width: fit-content;
	margin: 15px 20px;
}

.openButton
{
	border: none;
	border-radius: 5px;
	background-color: #1c87c9;
	color: white;
	padding: 14px 20px;
	cursor: pointer;
	/* position: fixed; */
}

.openButton:hover
{
	background-color: lightblue;
	color: black;
}


.loginPopup
{
	position: relative;
	text-align: center;
	width:fit-content;
}


.formPopup
{
	display: none;
	position: fixed;
	left: 45%;
	top: 5%;
	transform: translate(-50%, 5%);
	border: 3px solid #999999;
	z-index: 9;
	width: 400px;
	height: 400px;
}


.formPopup::before
	{
		content: "";
		position: absolute;
		top:0%;
		bottom: 0%;
		right: 0%;
		left: 0%;
		background-color: lightgrey;
		opacity: .5;
	}

.tag
{
	position: relative;
	color: black;
	font-size: 20px;
	font-weight: bold;
	opacity: 1;
}

/* links bold */


.reportings
{
	position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    height: fit-content;
	background: transparent;
}

.posrelative
{
	position: relative;
}

.commentbox
{
	position: relative;
    border: 1px black solid;
    height: 200px;
    width: 400px;
    min-width: 275px;
    min-height: 100px;
    /* padding: 3px; */
    color: black;
    /* background-color: white; */
    /* overflow: hidden;
    overflow-y: scroll; */

}


.commentbox::before
{
	content: "";
	position: absolute;
	top:0%;
	bottom: 0%;
	right: 0%;
	left: 0%;
	background-color: lightgrey;
	opacity: .5;
}


.opac::before
{
	content: "";
	position: absolute;
	top:0%;
	bottom: 0%;
	right: 0%;
	left: 0%;
	background-color: lightgrey;
	opacity: .5;
}

.formPopup .btn
{
	padding: 12px 20px;
	border: none;
	background-color: #8ebf42;
	color: #fff;
	cursor: pointer;
	width: 100%;
	margin-bottom: 15px;
	opacity: 0.8;
}

.formPopup .cancel
{
	background-color: #cc0000;
	width: fit-content;
	padding: 10px 20px;
}


.transparent
{
	background: transparent;
}



/* <image src="/static/pics/pexels-pixabay-258112.jpg" alt="background image"></image>
image
{
	max-width: 100%;
	max-height: 100%;
} */


.taskbarBtns
{
	display: flex;
	flex-direction: row;
	justify-content: right;
	width: 50%;
/* 	margin-right: 15px; */
}


.taskbar
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0px 15px;
	padding: 0px;
	min-height: 75px;
/* 	min-width: 900px; */
	border-bottom: 1px solid darkgrey;
	border-top: 1px darkgrey solid;

}

.title_bar
{
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px darkgrey solid;
	border-top: 1px darkgrey solid;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 15px;
	height: 90px;
	opacity: .4;
}

.opacity
{
	opacity: .5;
}

.txt_bordered
{
	font-size: 30pix;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #4efbed;
	color: black;
}

.links
{
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #4efbed;
	font-size: 25px;
	width: fit-content;
	/* margin: top right bottom left */
	margin: 15px 20px;

	text-decoration: none;
/* 	color: #0054ff; */
	color: white;
	/* color: white; */
}

.turquoise_txt
{
	margin:15px 20px;
	font-size: 25px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #4efbed;
}

.links:hover
{
	color: darkgrey;
}

body
{
    display: flex;
    justify-content: center;
    padding: 15px;
    min-width: 900px;
}

.forms
{
	border: black solid 1px;
}

.black
{
	color:black;
}

.label
{
/* 	30px */
	font-size:25px;
}

.labelTextBox
{
	width: 250px;
	height: 40px;
}

.bgGrey
{
	background-color: lightgrey;
}

.text_colorPicker
{
	color:rgba(9, 241, 251, 0.8);
}
.bold
{
	font-weight: bolder;
}



.txtDecoration
{
	text-decoration: none;
}


.btns
{
	background-color: lightgrey;
	color: black;
	text-decoration: none;
	padding: 6px 12px;
	border: solid black 1px;
	border-radius: 16px;
}

.btns:hover
{
	background-color: gray;
}

.overFlowScroll
{
	overflow: hidden;
    overflow-y: scroll;
}

.blue
{
	color: blue;
}

.white
{
	color: white;
}

.transparent
{
	opacity: 0;
}

.txt-left
{
	text-align: left;
}

.txt-underline
{
	text-decoration: underline;
}

.min-h200
{
	min-height: 200px;
}

.min-h500
{
	min-height: 500px;
}

.min-h90
{
	min-height: 90%;
}

.max-h
{
	max-height: 25%;
}

.font-size
{
	font-size: 2rem;
}

.title-size
{
	font-size: 3rem;
}

.min-h150
{
	min-height: 150px;
}

.width90
{
	width: 90%;
}

.center
{
	align-items: middle;
}

.color-gr
{
	color: #3bd167;
}

.color-bl
{
	color: #139bc2;
}

.text-size
{
	font-size: .75rem;
}


.package
{
	height: 100vh;
    width: 100%;
}


.colorYellow
{
	color: #e3f909;
}
.width70
{
	width: 70%;
}

.width50
{
    width: 50%;
}

.width30
{
	width: 30%;
}

.width35
{
	width:35%;
}

.width65
{
	width: 65%
}

.width40
{
	width:40%;
}

.width60
{
	width: 60%;
}


.txt_grad
{
	animation: txt_color 10s ease-in-out infinite;
/* 	position: relative; */
}

.border_grad
{
	animation: border_color 3s ease-in-out infinite;
/* 	position: relative; */
}

.border_bottom
{
	border-bottom: 1px darkgrey solid;
}

.border_top
{
	border-top: 1px darkgrey solid;
}

@keyframes txt_color
{
	0%
	{
/* 		background-color: black; */
		color: yellow;
	}
	25%
	{
/* 		background-color: darkgrey; */
		color: orange;
	}
	50%
	{
		color: red;
	}
	75%
	{
/* 		background-color: black; */
		color: orange;
	}
	100%
	{
		color: yellow;
	}
}

@keyframes border_color
{
	0%
	{
		border:1px solid lightgrey;
	}
	25%
	{
		border:1px solid darkgrey;
	}
	50%
	{
		border:1px solid #1d1c1c;
	}
	75%
	{
		border:1px solid darkgrey;
	}
	100%
	{
		border:1px solid lightgrey;
	}
}


@keyframes bg_color
{
	0%
	{
		background-color: black;
	}
	25%
	{
		background-color: darkgrey;
	}
	50%
	{
		background-color: black;
	}
	75%
	{
		background-color: darkgrey;
	}
	100%
	{
		background-color: black;
	}
}


.bg_grad
{
	text-transform: uppercase;
/* 	background-image: linear-gradient(to right, darkgrey, black, darkgrey); */
/* 	background-image: linear-gradient(-45deg, darkgrey, black, darkgrey); */
	animation: bg_color 10s ease-in-out infinite;
/* 	background-clip: text-grad; */
/* 	-wibkit-background-clip: text-grad; */
/* 	-moz-background-clip: text-grad; */
/* 	color: transparent; */
}

.title_grad
{
	background: linear-gradient(to right, darkgrey, black, darkgrey);
}

.bgImage
{
	background-image:url("/static/pics/northern_lights.jpg");
	background-size: 100% 100%;
}

/* ::before
{
	content: "";
	position: absolute;
	top:0%;
	bottom: 0%;
	right: 0%;
	left: 0%;
	background-color: lightgrey;
	opacity: .5;
} */



/*
.loginPopup
{
	position: relative;
	text-align: center;
	width: 100%;
}

.formPopup
{
	display: none;
	position: fixed;
	left: 45%;
	top: 5%;
	transform: translate(-50%, 5%);
	border: 3px solid #999999;
	z-index: 9;
	width: 400px;
	height: 400px;
	background-color:lightgrey;
} */







