*{
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    }

::-webkit-scrollbar {
    width: .7rem;
}

::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0,0);
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 6px;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
}

.input_box {
    height: 2rem;
    font-size: 1.25rem;
}

.main_div {
    background-color: rgba(255,255,255, .3);
    box-shadow: 5px 5px 5px 5px;
    border-radius: 7px;
    width: 60%;
    padding: 1rem;
    height: 40%;


}

.edit_pw_box {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}

.edit_pw_box form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.edit_pw_box h1 {
    text-align: center;
    color: red;
    font-size: 2.5rem;
    border-bottom: 1px solid black;
}

.forms_box {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.forms_box input {
    padding-left: .1rem;
}

.buttons_box {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	padding: 2rem;
	z-index: 1;
}

.edit-btn	{
	display: inline-block;
	text-align: center;
	width: 5rem;
	/* width: 20%; */
    padding: .3rem .3rem;
    border-radius: 15px; /* Adjust the border-radius to control the roundness */
    background-color: lightgrey;
    color: black;
    text-decoration: none; /* Removes underline if it's a link */
    border: 1px solid grey;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: 2px 2px 2px 2px;
}

.edit-btn:hover	{
	background-color: grey;
	color: white
}

.btn_save {
    background-color: green;
}


@media (max-width:700px) {
	.buttons_box {
		padding: .2rem;
	}

    label {
        font-size: 1.2rem;
    }
}

@media (max-width: 575px) {
    .main_div {
        padding: .6rem;
    }
}