* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --border: hsl(0, 0%, 50%);
    --hover: hsl(0, 50%, 20%);
    --bg-navbar: hsl(0, 0%, 30%);
    --bg-body: hsl(10, 10%, 50%);
}

/* body{
    background-image: url("/pics/western_mountains.jpg");
    background-size: cover;
    min-width: 400px;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
} */

.navbar {
    position:fixed;
    width: 100%;
    padding: 0 1rem;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-navbar);
    color: white;
    border: 1px solid var(--border);
    min-width: 475px;
    height: 3.5rem;
    /* min-width: 300px; */
}

.nav-title {
    font-size: 1.5rem;
    margin: .5rem;
    display: block;
    max-width: 50%;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}


.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.nav-links li:hover {
    background-color: var(--hover);
}

.toggle {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

/* .toggle .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
} */

.toggle .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .toggle {
        display: flex;
        margin: 0;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .navbar {
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        z-index: 1;
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        text-align: center;
    }

    .nav-links li a {
        --bg-navbar: hsl(0,0%,20%);
        padding: 0.5rem 1rem;
        background-color: var(--bg-navbar);
        border-top: 1px solid var(--border);
    }

    .nav-links li a:hover {
        background-color: var(--hover);
    }

    .nav-links.active {
        display: flex;
    }

}