*{
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    }

body
{
    display: flex;
    flex-direction: column;
    background-color:white;
}
.opacity
{
    opacity: .5;
}

.text
{
    color: rgba(255,0,0,1);
}

.bgImage
{
	background-image:url('/my_app/static/pics/northern_lights.jpg');
	background-size: 400px 400px;
    background-repeat: no-repeat;
}

.bgImage h1
{
    color: rgba(255,0,0,1);
}
.size
{
    height: 1000px;
    width: 1000px;
}