<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

     <link rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">

     <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">


     <link rel="stylesheet" href="{{ url_for('static', filename = 'css/top_bar.css') }}">

     <link rel="stylesheet" href="{{ url_for('static', filename = 'css/navbar.css') }}">

     <script type="text/javascript" src="{{ url_for('static', filename = 'script/navbar.js') }}" defer></script>

    <!-- <script type="text/javascript" src="{{ url_for('static', filename = 'script/javascript.js') }}" defer></script> -->



</head>
<body class="bg-image">
    <div class="top_bar">

        <nav class="navbar">
            <div class="nav-title">HOME</div>
            <div class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <div class="navbar-links">
                <ul>
                    <li><a class="links" href="/users/edit/{{this_user.id}}">Edit Profile</a></li>
                    <li><a class="links" href="/weather_page/{{this_user.id}}">Weather</a></li>
                    <li><a class="links" href="/logout">Logout</a></li>
                </ul>
            </div>
        </nav>
        <!-- <div class="wx_search_bar">
            <form action="/local_weather/{{this_user.id}}" method="POST">
                <div class="city_state_search">
                    <label for="city_state">Local Weather: </label>
                    <input type="text" name = "city_state" placeholder="City State">
                </div>
                <input class="wx-submit-btn"  type="submit" value = "Submit">
            </form>
        </div> -->

    </div>


    <div class="main_body">

        <div id="games">
            <h3>~ Games ~</h3>
            <div id = "game_list_box">
                {% for game in all_games %}
                <div>
                    <a class="games_links" href="/game/{{game.name}}/{{game.id}}">{{game.name}} {{game.id}}</a>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

</body>
</html>